<table class="calendar_table js-calendar-month" data-year="<%= year %>" data-month="<%= month %>">
    <caption><%= year %>年<%= month + 1 %>月</caption>
    <tbody>
        <tr>
            <th>日</th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
        </tr>
        <% _.each(daysInWeek, function(week, weekIndex){ %>
        <tr data-week="<%= weekIndex %>">
            <% _.each(week, function(day, dayIndexInWeek){ %>
            <%= dayRender(day, dayIndexInWeek, week, weekIndex) %>
            <% }) %>
        </tr>
        <% }) %>
    </tbody>
</table>