<div class="search_header" style="position:absolute">
	<div class="search_wrap2">
		<div class="search_p">
			<div class="search_box2">
				<input type="text" autofocus="true" value="" id="departsearch" maxlength="64" class="search_text" name="departsearch" placeholder="全拼/简拼/中文">
				<a href="javascript:;" class="clear_input2" style="display:none"></a>
			</div>
			<a href="javascript:;" class="cancel">取消</a>
		</div>
	</div>
</div>
<div class="search_content">
    <ul class="associate search_history" style=""></ul>
	<div class="sub_box no_result" style="display:none">没有结果</div>
</div>