<div class="body nofoot">
    <div id="destionationSearch" class="top_box destionation_search">
	    <div class="search_wrap2">
		    <div class="search_p">
                <form action="#vacationslist">
			        <div class="search_box2">
				        <input type="search" class="search_text" placeholder="目的地、主题或关键词">
				        <a href="javascript:;" class="clear_input2" style="display:none;"></a>
			        </div>
			        <a href="javascript:;" class="cancel" style="display:none;">取消</a>
                </form>
		    </div>
	    </div>
        <%if(!!data.destSearHistory){ %>
	    <p class="destionation_history" style="height:42px;overflow:hidden">
             <%_.each(data.destSearHistory,function(v,k){ %>
             <a data-name="<%=v.city %>" data-id="<%=v.id %>" data-selectflag="<%=v.selectFlag %>" href="javascript:;"><%=v.city %></a>
            <%}) %>
        </p>
        <%} %>
    </div>
    <div class="destlist">
        <div class="destionation_tab">
		    <ul class="city_tab">
                <li class="minland <%if(data.selectedDest.inland==1){ %>on<%} %>" data-mode="1">国内游</li>
                <li class="minter <%if(data.selectedDest.inland!=1){ %>on<%} %>" data-mode="2">海外游</li>
	        </ul>
        </div>
        <section class="city_box"  id="Section1">
            <div class="inlandbox vcitylist" <%if(data.selectedDest.inland==1){ %>style="display: block;"<%}else{ %>style="display: none;"<%} %>>
                <h4 class="area_title area_cur alphabet">热门</h4>
                <div class="area_subnav">
                    <%_.each(data.hotCity.inland,function(v,k){ %>
                    <a href="javascript:;" data-name="<%=v.cityName %>" data-id="<%=v.id %>" data-selectflag="<%=v.selectFlag %>"><%=v.cityName %></a>
                    <%}) %>
	            </div>
                <%_.each(data.destInland,function(v,k){ if(!!v){ %>
                <h4 class="area_title alphabet"><%=v.initial %></h4>
                <div class="area_subnav hidden">
                    <%_.each(v.data,function(w,l){ %>
                    <a href="javascript:;" data-name="<%=w.cityName %>" data-id="<%=w.id %>" data-selectflag="<%=w.selectFlag %>"><%=w.cityName %></a>
                    <%}) %>
	            </div>
                <%}}) %>
            </div>
            <div class="interbox vcitylist" <%if(data.selectedDest.inland==1){ %>style="display: none;"<%}else{ %>style="display: block;"<%} %>>
                <h4 class="area_title area_cur alphabet">热门</h4>
                <div class="area_subnav">
                    <%_.each(data.hotCity.inter,function(v,k){ %>
                    <a href="javascript:;" data-name="<%=v.cityName %>" data-id="<%=v.id %>" data-selectflag="<%=v.selectFlag %>"><%=v.cityName %></a>
                    <%}) %>
	            </div>
                <%_.each(data.destInter,function(v,k){ if(!!v){ %>
                <h4 class="area_title alphabet"><%=v.initial %></h4>
                <div class="area_subnav hidden">
                    <%_.each(v.data,function(w,l){ %>
                    <a href="javascript:;" data-name="<%=w.cityName %>" data-id="<%=w.id %>" data-selectflag="<%=w.selectFlag %>"><%=w.cityName %></a>
                    <%}) %>
	            </div>
                <%}}) %>
            </div>
        </section>
    </div>
</div>

<div class="search_content" style="display:none">
    <ul class="search_history seahistory" style="">
        <%_.each(data.destSearHistory,function(v,k){ %>
        <li class="cityitem" data-name="<%=v.city %>" data-id="<%=v.id %>"><%=v.city %></li>
        <%}) %>
    </ul>
    <ul class="associate search_history" style=""></ul>
    <div class="base_loading" style="display:none"><i></i>加载中</div>
	<div class="sub_box re_history" style="<%if(!data.hasHistory){%>display:none;<%}%>">清除搜索历史</div>
	<div class="sub_box no_result" style="display:none">没有结果</div>
	<div class="sub_box no_history" style="<%if(data.hasHistory){%>display:none;<%}%>">无搜索历史</div>
</div>