@using System.Configuration

<!DOCTYPE html>
<html>
<head>
    @RenderPage("../Shared/Header.cshtml")
</head>
<body class="gray" onselectstart="return false">
    @RenderPage("../Shared/BodyLayout.cshtml")

   <script type="text/lizard-config">
        {
            "url_schema": "/destination/{departId}/{departName}",
            "model": {
                "apis":[]
            },
            "view":{
                "header": Lizard.T("headTmpl"),
                "viewport": Lizard.T("viewportTmpl")
            },
            "controller": "@ConfigurationManager.AppSettings["WebresourcePDBaseUrl"]tour/controllers/destination.js"
        }
    </script>

    <script id="headTmpl" type="text/lizard-template">
        <div>
            <h1 class="list"></h1>
        </div>
    </script>

    <script id="viewportTmpl" type="text/lizard-template">         
    </script>
    @RenderPage("../Shared/Footer.cshtml")

</body>
</html>
